<h1>About Us</h1>

<h5>Seera Fast Food Maldives Pvt. Ltd</h5>
<p>Seera has been in service since June 12th 1994, learning and growing from experience to serve our beloved customers better everyday. Seera chicken has been and still remains as one of the most famous products among our customer, marinated in a special blend and comes in the color red.</p>



