	
<%= form_for :session, url: login_path, :html => {:class => "w3-container w3-light-grey"} do |f| %> 
	<h1>Log in</h1>
	<%= f.email_field :email, :placeholder => "Email", :class => "w3-input w3-border-0" %> 
	<%= f.password_field :password, :placeholder => "Password", :class => "w3-input w3-border-0" %> 
	<%= f.submit "Log in", :class => "w3-button w3-block w3-black", :style => "width:30%" %>
<% end %>
	

