<table class="w3-table w3-striped w3-bordered">
	<tr>
	  <th>Name</th>
	  <th>Description</th>
	  <th>Price</th>
	  <% if current_user && current_user.admin? %> 
		    <th>Edit</th>
		<% end %>
		</td>
	 
	</tr>
	
	<tr>
	  <td><%= @item.name %></td>
	  <td><%= @item.description %></td>
	  <td><%= @item.price %></td>
	  <td>
	  <% if current_user && current_user.admin? %> 
		   <%= link_to "Edit Item", edit_item_path(@item) %>
		<% end %>
		</td>
	 
	</tr>
	
</table>