
<!-- First Photo Grid-->
	<div class="w3-row-padding w3-padding-16 w3-center" id="food">
		<% @categories.each do |t| %>
			<div class="w3-quarter">
				<%= image_tag t.image, :style => "width:100%" %>
				<h3><%= t.name %></h3>
				<td><%= link_to "Explore", category_path(t) %></td>
			</div>
		<% end %>
	</div>